/* House */
.house {
  stroke: black;
  stroke-width: 2px;
  fill: white;
}
.house .roof {
  fill: none;
  stroke: #d1495b;
  stroke-width: 10px;
  stroke-linecap: round;
}
.house .door {
  fill: #d1495b;
}
.house .stair {
  fill: gray;
}
.house .window {
  fill: #fdea96;
}
.house .window-sill {
  fill: #d1495b;
  stroke-linecap: round;
}

/* Snowing Forrest */
.flake {
  animation-duration: inherit;
  animation-name: snowing;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes snowing {
  from {
    transform: translate(0, -100px);
  }
  to {
    transform: translate(0, 100px);
  }
}
.flake.opaque {
  opacity: 0.7;
}
.flake.slow {
  animation-duration: 5s;
}
.flake.fast {
  animation-duration: 3s;
}
